

/* colours */
:root {
  --primary: #581041;
  --secondary: #FCF3F9;
  --accent: #280934
  --title: #fff;
}

body{
 font-family: 'open-sans', Arial, sans-serif;
 
 
}
h1{
  font-size: 1.25rem;
  padding-top: 1.5em;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: cinzel, 'Times New Roman', Times, serif;
}
h2{
  font-size: 1.3rem;
}

.hamburger-icon{
 position: absolute;
 top: 0;
 right: 0;
}
/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
}

nav a {
  text-transform: uppercase;
  color: var(--title);
}

nav a span {
  font-weight: bold;
}

.submit-client{
  background-color: var(--primary) !important;
}

/* task styles */
.tasks {
  margin-top: 20px;
  
}


.card-panel.task {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
  
}
.card-panel >  {
  margin: 2px;
}
.task img {
  grid-area: image;
  max-width: 60px;
}

.task-details {
  grid-area: details;
  margin-top: 6px;
}
.task-detail > * {
  display: flex;
  flex-direction: column;
}

.task-delete {
  
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}
.task-edit{
 position: absolute;
 top: 0;
 right: 0;
 cursor: pointer;
}
.card-panel > div > i {
  color: red !important;
}
#edit{
  color: green !important;
}
#socials  {
  display: flex;
  justify-content: start;
   
} 

.task-edit i{
  font-size: 16px;
  color: green;
}
.task-delete i {
  font-size: 18px;
  color: black;
}

.task-title {
  font-weight: bold;
  color:var(--primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email{
  color: green;
}

.task-ingredients {
  font-size: 0.8em;
}

/* form-styles */
.add-btn {
  background: var(--title) !important;
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form{
  background-color: var(--secondary);
}
.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

form .input-field {
  margin-top: 30px;
}

footer {
 background-color: var(--primary) !important;
 position: fixed; 
 left: 0;
 bottom: 0;
 width: 100%;
 padding:1rem;
 margin: 0;
ul{
  display: flex;
  justify-content: space-around;
  a{
    color: white;
    
  }
  a:hover, a:focus, a:visited{
 color: #999;
  }
  
}
.container {
  font-style: italic;
  font-size: 0.95rem;
}
}

.footer-copyright{
  margin: 0 auto;
  width: 50%;
  font-style: italic;
  font-size: .75rem;
  
}

.year{
  text-align: center;
  margin: 0 auto;
  color: #999;
}
.display-none{
  display: none; 
}